#自动保存的样本数据
/trainData/armor
/trainData/buff
/trainData/circle

#自动录制的视频和照片
/visionData/debugImg
/visionData/imgSave
/visionData/AVISave

#相机标定用图
/visionData/cameraCaliData/caliPattern
/visionData/cameraCaliData/caliRepairImg
/visionData/cameraCaliData/**/*.txt
/visionData/cameraCaliData/caliResults/calibCameraData.yml

#相机配置
SDKLOG_default.properties
#日志
/log

#VS编译文件
.vs
/x64
/tools/SVM/x64
/build/Baldr.*

#QT编译文件
*.pro.user
*.pro.user.*
/build/*.o
.qmake.stash
Baldr
Makefile
nohup.out

#Cmake编译文件
cmake-build-debug
cmake-build-release
.idea
*.exe.manifest
*.exe
